<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hp.test25">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.example.hp.test25.util.MyApplicatiion"
        android:allowBackup="true"
        android:icon="@mipmap/ic_first"
        tools:replace="android:label"
        android:label="Focus"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity"></activity>
        <activity android:name=".view.Welcome"
            android:theme="@style/FocusActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>